<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <!-- Including ejs file  -->
        <%- include('_header'); %>
        <h1> FriendsBook / <%= title %> </h1>
        <%- include('_footer'); %>
    </body>
</html>
